.footer {
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}
.footer > h4 {
  color: grey;
  font-weight: 500;
}
.footer > p {
  color: grey;
}
